{% extends "base.html" %}

{% block content %}

<h1>{{ section.title }}</h1>

{% set root = get_section(path="_index.md") %}

{% for year, posts in root.pages | group_by(attribute="year") %}

<h2>{{ year }}</h2>

<ul class="posts">
    {% for post in posts %}
    {% if post.date %}
    <li>
        <a href="{{ post.permalink }}">{{ post.title }}</a>
        <span class="date">
            {{ post.date | date(format="%Y-%m-%d") }}
        </span>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endfor %}

{% endblock %}