<nav class="toc">

    <div class="toc-title">
        Contents
    </div>


    <ul class="toc-list">

        {% for h1 in page.toc %}

        <li class="toc-item">

            <a
                    class="toc-link"
                    href="{{ h1.permalink | safe }}"
                    data-target="{{ h1.id }}">
                {{ h1.title }}
            </a>


            {% if h1.children %}

            <ul class="toc-list toc-level-2">


                {% for h2 in h1.children %}

                <li class="toc-item">

                    <a
                            class="toc-link"
                            href="{{ h2.permalink | safe }}"
                            data-target="{{ h2.id }}">
                        {{ h2.title }}
                    </a>


                    {% if h2.children %}

                    <ul class="toc-list toc-level-3">


                        {% for h3 in h2.children %}

                        <li class="toc-item">


                            <a
                                    class="toc-link"
                                    href="{{ h3.permalink | safe }}"
                                    data-target="{{ h3.id }}">
                                {{ h3.title }}
                            </a>


                        </li>


                        {% endfor %}


                    </ul>

                    {% endif %}


                </li>


                {% endfor %}


            </ul>


            {% endif %}


        </li>


        {% endfor %}


    </ul>


</nav>